body{
  background-color: lightblue;
}

.app-functionality {
  text-align: center;
  margin-top: 20px;
}

/* Styling for the buttons */
.exercise-button {
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #389aac;
  color: white;
  font-size: 16px;
  transition: 0.3s;
}

/* Handles the transition, when we hover*/
.exercise-button:hover {
  background-color: #266570;
}

/* For the overall return area */
.return-container {
  margin-top: 20px;
}

/* Handles the return button */
.return-button {
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #aa231a;
  color: white;
  font-size: 16px;
  transition: 0.3s;
}

/* Similar - for the button's transition, when you hover. */
.return-button:hover {
  background-color: #d32f2f;
}